body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

h1 {
    font-size: 3em;
}

#search, #search-btn {
    height: 30px;
    font-family: "Anta", sans-serif;
}

#search-btn {
    background-color: white;
}

main {
    display: grid;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    grid-gap: 40px;
    grid-template-columns: 30% 30% 30%;
}

.displayResults {
    display: flex;
    flex-direction: column;
    /* max-width: 400px; */
}

.title, .displayImage, .description {
    padding: 10px;
}

.title {
    height: 80px;
    overflow-y: auto;
}

.description {
    height: 200px;
    overflow-y: auto;
    scrollbar-color: white #bada55;
    scrollbar-gutter: stable;
    text-align: justify;
}

.displayImage {
    max-height: 250px;
}